<p-toast></p-toast>
<form [formGroup]="formCreatePost" >
    <div class="grid formgrid">
        <div class="field col-12">
            <label for="title">Upload Image</label>
            <p-fileupload name="demo[]"  (onSelect)="onUpload($event)" [multiple]="false"  accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff,.tif,.webp,.svg,.ico,.jfif" maxFileSize="100000000" mode="advanced" [showUploadButton]="false">
                <!-- <ng-template #empty>
                    <div>Drag and drop files to here to upload.</div>
                </ng-template>
                <ng-template #content>
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                    </ul>
                </ng-template> -->
            </p-fileupload>
        </div>
        <div class="field col-12">
            <label for="title">Title</label>
            <input id="title" type="text" pInputText formControlName="title" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12">
            <label for="description">Description</label>
            <input id="description" type="text" pInputText formControlName="description" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12">
            <label for="Categories">Select Your Categories</label>
            <p-multiselect [options]="Categories" formControlName="selectedCategories" optionLabel="description" placeholder="Select Categorie" [maxSelectedLabels]="5" styleClass="w-full md:w-80" appendTo="body" />
        </div>
    </div>
    <div class="flex justify-content-end w-full ">
        <p-button styleClass="p-button-primary" (onClick)="CreatePost()"  label="Submit"/>
    </div>
   
</form>
