<p-carousel [value]="Posts" [numVisible]="1" [numScroll]="1" orientation="vertical" verticalViewPortHeight="530px"
    contentClass="flex items-center">
    <ng-template class="justify-content-center" let-post #item>
        <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4 ">
            <div class="mb-4 ">
                <div class="relative mx-auto">
                    <img src="https://localhost:7109{{post.imageRoute }}" [alt]="post.title" class="w-full rounded "
                        style="width: 17rem !important;" />
                    <p-tag [value]="post.status" class="absolute" styleClass="dark:!bg-surface-900" />
                </div>
            </div>
            <div class="mb-4 font-medium">{{ post.title }}</div>
            <div class="flex justify-content-left items-center">
                <div class="mt-0 font-semibold text-xl  ">{{"Coments "+ post.totalComments }}</div>
                <span>
                    <p-button icon="pi pi-pencil" (click)="show(post)"  />
                    <p-button icon="pi pi-trash" styleClass="ml-2" (click)="DeletePost(post.postId)" />
                </span>
            </div>
        </div>
    </ng-template>
</p-carousel>