<div class="flex mb-2 gap-3 justify-content-end" >
    <p-button icon="pi pi-plus" label="Create"(click)="showCreate()" styleClass="p-button-primary" />
</div>
<div class=" grid justi ">
    @for (post of Posts; track post){
        <p-card class="col-12 md:col-4">
            <ng-template  #header>
                <div class="flex justify-content-center">
                    <img alt="Card" class="w-full controlHeigth" style="object-fit: contain;" src="https://localhost:7109{{post.imageRoute }}" />       
                </div>
            </ng-template>
            
            
            <ng-template #title> {{post.title}}</ng-template>
            <p>
                {{post.description}}
            </p>
            <ng-template #footer>
                <div class="flex gap-2 mt-1 justify-content-between">
                    <a>{{post.totalComments}}</a>
                    <div>
                        <p-button icon="pi pi-pencil" (click)="showUpdate(post)" styleClass="p-button-primary"  />
                        <p-button icon="pi pi-trash" styleClass="ml-2 p-button-primary" (click)="DeletePost(post.postId)" />
                    </div>
                </div>
            </ng-template>
        </p-card>
    }
</div>