@import "primeflex/primeflex.css";

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-custom {
    width: 100%;
    max-width: 250px;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
::ng-deep .p-button {
  background-color: #2196F3 !important; /* Azul */
  border-color: #2196F3 !important;
  color: white !important;
}

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}